{% extends 'base.html' %}
{% block page_title %} Cart {% endblock %}
{% load static from staticfiles %}
{% block content %}
<div class="container">
    
    <div class="row row-flex blog-cust m-5 p-5">
        {% if cart_items %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-8 col-md-8 display panel panel-display">
            {% for item in cart_items %}
            <table class="table table-striped">
              <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Update Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form class="form-inline" method="post" action="{% url 'cart:adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">                                
                                <div class="input-group">
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">                                    
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                        </form>
                    </td>
                </tr>
              </tbody>
            </table>
            <!--<div class="caption">
                <h3>{{ item.product.name }}</h3>
                <p class="product-description">{{ item.product.description }}</p>
                <p>{{ item.product.price }}</p>
                <p>
                    <form class="form-inline" method="post" action="{% url 'cart:adjust_cart' item.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputAmount" class="sr-only">New Qty</label>
                            <div class="input-group">
                                <div class="input-group-addon">Qty</div>
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <div class="input-group-addon">{{item.quantity}}</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    </form>
                </p>
            </div>-->
            {% endfor %}
        </div>
        
    </div>
    <div class="row blog-cust m-5 p-5">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        <a href="{% url 'checkout:checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
    {% endif %}
</div>
{% endblock %}