{% extends 'base.html' %}
{% block page_title %} Cart {% endblock %}
{% load static from staticfiles %}
{% block content %}
<div class="container">
    {% if cart_items %}
    <div class="row blog-cust mt-5">     
        <div class="col-xs-12 col-sm-10 col-md-10 offset-md-1 p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Update Quantity</th>
                    </tr>
                </thead>
                {% for item in cart_items %}
                <tbody>
                    <tr>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <form class="form-inline" method="post" action="{% url 'cart:adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group mr-1">
                                    <div class="input-group">
                                        <input name="quantity" type="number" min="0" max="999" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row blog-cust m-5 p-5">
        <div class="col-md-6 offset-md-4">
            <span>Total £ {{ total }}</span>
            <span><a href="{% url 'checkout:checkout' %}" class="btn btn-success" role="button">Checkout</a></span>
        </div>
    </div>
    {% else %}
    <div class="row blog-cust">
        <div class="col-md-6 text-center offset-md-3 m-5 p-5">
            <p>Nothing in your cart yet!</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}