{% extends "base.html" %}
{% block page_title %} Log In {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}

<div class="container">
    <div class="row">
        <div class="col-md-12 blog-cust mt-5 pt-3 pb-3">
            <form method="post" class="form login-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ user_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">Login</button>
                    <small class="text-muted ml-2">
                        <a href="{% url 'password_reset_form' %}">Forgot Password?</a>
                    </small>
                </div>
            </form>
        
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have An Account? <a class="ml-2" href="{% url 'register' %}">Register Here</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}