{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}
{% block title %} Submit Your Bug{% endblock %}


<div class="container ">
    <div class="row">
    	<div class="col-md-8">
        	<div class="card-body card-color">
        	    <h3>Submit Your Bug Here</h3>
        	    <form method="post" style="margin-top: 1.3em;">
        	        {{ bug_form | crispy }}
        	        {% csrf_token %}
        	        <button type="submit" class="btn btn-secondary  btn-lg">Submit</button>
        	    </form>
        	</div>
        </div>

        {% block sidebar %} 
  			{% include 'sidebar.html' %} 
		{% endblock sidebar %}
		
    </div>
</div>

{% endblock %}