{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}

<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <span><a href="{% url 'bugs:bugs_list' %}" class="btn btn-outline-info">Back to bugs page &larr;</a></span>
    </div>
    
    <div class="col-md-8 card mb-4  mt-3 left top card-color">
      <div class="card-body ">
        <h2><b>{{ bug.title }}</b>
        {% if bug.status == 'Received' %}
          <span class="alert alert-info"><i>Status: </i><b>{{ bug.status }}</b></span>
        {% elif bug.status == 'In progress' %}
          <span class="alert alert-primary"><i>Status: </i><b>{{ bug.status }}</b></span>
        {% else %}
          <span class="alert alert-success"><i>Status: </i><b>{{ bug.status }}</b></span>
        {% endif %}
        </h2>
        <br>
        <p class=" text-muted">Posted by <b>{{ bug.author }}</b> on <b>{{ bug.created_on }}</b></p>
        <br>
        <p class="card-text">{{ bug.content | safe }}</p>
        <!-- LIKE -->
        

        <div class="row border-bottom">
          <div class="col-md-10">
            <form class="icon-cust" method="post" action="{% url 'bugs:bug_likes' bug.id %}">
              {% csrf_token %}

              <button type="submit" name="bug_id" value="{{ bug.id }}" class="btn btn-dark"><i class="far fa-thumbs-up"></i></button>
              <small>{{ bug.likes }}</small>
            </form>
          </div>
  
  
  
          <div class="col-md-1">
            <span><i class="fas fa-trash-alt icon-cust" data-toggle="modal" data-target="#deleteBugModal{{bug.id}}"></i></span>
          </div>
          <div class="col-md-1">
            <span><a href="{% url 'bugs:bug_edit' bug.id %}"><i class="fas fa-edit icon-cust"></i></a></span>
          </div>
        </div>
      </div>


      
     <!-- {% if messages %}
        <ul class="messages alert alert-danger">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %} -->
      <!--Popup modal for confirming bug delete-->
      <div class="modal" id="deleteBugModal{{bug.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ bug.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"><a class="btn btn-delete" href="{% url 'bugs:bug_delete' bug.pk %}">
                        Delete
                    </a></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
    <!--end bug delete modal-->
    
      <div class="card-body border border-dark rounded border-white">
        
        <!-- comments -->
        {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comments</h2>
        {% endwith %}
         
        {% for comment in comments %}
       

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>

        {% endfor %}
      </div>
    
    
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3 class="border-bottom border-white">Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-info btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    

  </div>
  {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
</div>

{% endblock content %}
    