{% extends "base.html" %} 
{% block content %}

{% block masthead %} {% include 'masthead.html' %} {% endblock masthead %}

{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}
<div class="container">
    <a href="{% url 'bugs:bug_add' %}" class="btn btn-outline-info">Report a Bug &rarr;</a>
</div>
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for bug in bugs %}
            <div class="card mb-4">
                <div class="card-body card-color">
                    <h2 class="card-title"><b>{{ bug.title }}</b>  
                    {% if bug.status == 'Received' %}
        			  <span class="alert alert-info"><i>Status: </i><b>{{ bug.status }}</b></span>
        			{% elif bug.status == 'In progress' %}
        			  <span class="alert alert-primary"><i>Status: </i><b>{{ bug.status }}</b></span>
        			{% else %}
        			  <span class="alert alert-success"><i>Status: </i><b>{{ bug.status }}</b></span>
        			{% endif %}
        			</h2>
                    <p class="card-text text-muted h6">{{ bug.author }}</p>
                    <span class="views">{{ bug.views }} | {{ bug.likes }} <i class="fa fa-eye"></i></span>
                    <p class="card-text">{{bug.content|slice:":200" }}</p>
                    <a href="{% url 'bugs:bug_detail' pk=bug.pk %}" class="btn btn-outline-info">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
    <div class="pagination">
        {% if bugs.has_previous %}
        <a class="btn btn-outline-info" href="?page=1">First</a>
        <a class="btn btn-outline-info" href="?page={{ features.previous_page_number }}">&lt;</a>
        {% endif %}
        {% for num in bugs.paginator.page_range %}
        {% if bugs.number == num %}
        <a class="btn btn-info" href="?page={{ bugs.number }}"> {{ bugs.number }}</a>
        {% elif num > bugs.number|add:'-2' and num < bugs.number|add:'2' %} <a class="btn btn-outline-info" href="?page={{ num }}"> {{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if bugs.has_next %}
            <a class="btn btn-outline-info" href="?page={{ features.previous_page_number }}">&gt;</a>
            <a class="btn btn-outline-info" href="?page={{ bugs.paginator.num_pages }}">last</a>
            {% endif %}
    </div>
</div>


    


{% endblock %}