body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
    background-image: url("../img/bugs.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}


/*---------*/
.shadow {
    box-shadow: 0 4px 2px -2px;
}


/*.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}*/


.card {
    box-shadow: 0 2px 6px #E3E7EB;
}

h2>span {
    font-size: 1.3rem;
    float: right;
}


.views {
    float: right;
    padding-right: 15px;
}

i.icon-cust {
    padding-left: 25px;
    float: right;
    font-size: 1.5rem;
    color: #c31f1f;
}


/* ---Navbar--- */
.nav-font {
    font-size: 20px;
    color: #295d7a !important;
}

.nav-logo {
    font-size: 35px;
    color: #295d7a;
}


/* ---Sidebar--- */
.card-head-cust {
    background-color: #96cbd2;
}

.card-body-cust {
    background-color: #d0f1f6ad;
}

.card-color {
    background-color: #d4dbdc;
}

/* ---Masthead--- */

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
    margin-bottom: 25px;
}


/* blog */


.post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.postmeta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
}

.blog-cust {
    background-color: #f8f9fadb;
    color: #000;
}




/**
 * STRIPE
 * 
 * The CSS own here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}




.green {
    border: #32a852 1px solid;
}

.error {
    border: ##bf423b 1px solid;
}