{% extends 'base.html' %}
{% block page_title %} Feature Details {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span><a href="{% url 'features:features_list' %}" class="btn btn-secondary mt-3">&larr; Back to Features page</a></span>
        </div>
        <!-- Feature Details -->
        <div class="col-md-8 card mb-4  mt-3 left top card-color">
            <div class="card-body ">
                <h2><b>{{ feature.title }}</b>
                    {% if feature.status == 'Received' %}
                    <span class="alert alert-info"><i>Status: </i><b>{{ feature.status }}</b></span>
                    {% elif feature.status == 'In progress' %}
                    <span class="alert alert-primary"><i>Status: </i><b>{{ feature.status }}</b></span>
                    {% else %}
                    <span class="alert alert-success"><i>Status: </i><b>{{ feature.status }}</b></span>
                    {% endif %}
                </h2>
                <br />
                <p class=" text-muted">Posted by <b>{{ feature.author }}</b> on <b>{{ feature.created_on|date:"M d, Y" }}</b> at <b>{{feature.created_on|time:"h:i a"}}</b></p>
                <br>
                <p class="card-text">{{ feature.content | safe }}</p>
                <hr />
                <!-- *** -->
                <!-- LIKE -->
                <div class="row">
                    <div class="col-xs-1 col-sm-10 col-md-10">
                        <form class="icon-cust" method="post" action="{% url 'features:feature_likes' feature.id %}">
                            {% csrf_token %}
                            <button type="submit" name="feature_id" value="{{ feature.id }}" class="btn btn-primary rounded-circle"><i class="far fa-thumbs-up"></i></button>
                            <small>{{ feature.likes }}</small>
                        </form>
                    </div>
                    <!-- *** -->
                    <!-- Delete & Edit -->
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <span><i class="fas fa-trash-alt icon-cust" data-toggle="modal" data-target="#deleteFeatureModal{{feature.id}}"></i></span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <span><a href="{% url 'features:feature_edit' feature.id %}"><i class="fas fa-edit icon-cust"></i></a></span>
                    </div>
                </div>
            </div>
            <!-- *** -->
            <!--Popup modal for confirming bug delete-->
            <div class="modal" id="deleteFeatureModal{{feature.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ feature.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"><a class="btn btn-delete text-white" href="{% url 'features:feature_delete' feature.pk %}">
                                    Delete
                                </a></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" class="pb-3" action="{% url 'cart:add_to_cart' feature.id %}">
                {% csrf_token %}
                <div class="input-group">
                    
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add to cart</button>
                    </span>
                </div>
            </form>
            <!-- *** -->
            <div class="card-body border border-dark rounded border-dark">
                <!-- comments -->
                {% with comments.count as total_comments %}
                <h2>{{ total_comments }} comments</h2>
                {% endwith %}
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }} |
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                    <hr />
                </div>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                <hr />
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        {% endif %}
    </div>
</div>
{% endblock content %}