{% extends "base.html" %}
{% block page_title %} Features Home {% endblock %}
{% block content %}
{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}
<div class="container">
    <a href="{% url 'features:feature_add' %}" class="btn btn-secondary mt-3">Request a Feature &rarr;</a>
</div>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for feature in features %}
            <div class="card mb-4">
                <div class="card-body card-color">
                    <h2 class="card-title"><b>{{ feature.title }}</b>
                        <span class="alert alert-warning">Price: <i class="fas fa-pound-sign"></i>{{ feature.price }}</span>
                        {% if feature.status == 'Received' %}
                        <span class="alert alert-info"><i>Status: </i><b>{{ feature.status }}</b></span>
                        {% elif feature.status == 'In progress' %}
                        <span class="alert alert-primary"><i>Status: </i><b>{{ feature.status }}</b></span>
                        {% else %}
                        <span class="alert alert-success"><i>Status: </i><b>{{ feature.status }}</b></span>
                        {% endif %}
                    </h2>
                    <p class="card-text text-muted h6">{{ feature.author }} <b>on</b> {{ feature.created_on|date:"M d, Y" }} </p>
                    <p class="card-text">{{feature.content|slice:":100" }}</p>
                    <a href="{% url 'features:feature_detail' pk=feature.pk %}" class="btn btn-outline-dark">Read More &rarr;</a>
                    <span class="views">{{ feature.views }} <i class="fas fa-eye"></i></span>
                    <span class="views">{{ feature.likes }} <i class="fas fa-thumbs-up"></i> </span>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if features.has_previous %}
            <a class="btn btn-secondary" href="?page=1">&laquo; first</a>
            <a class="btn btn-secondary" href="?page={{ features.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current alert alert-secondary small">
                Page {{ features.number }} of {{ features.paginator.num_pages }}.
            </span>
            {% if features.has_next %}
            <a class="btn btn-secondary" href="?page={{ features.next_page_number }}">next</a>
            <a class="btn btn-secondary" href="?page={{ features.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}