{% extends "base.html" %}
{% block page_title %} Post Detail {% endblock %}
{% block content %}
{% block feedback_messages %} {% include 'feedbackmessages.html' %} {% endblock feedback_messages %}
<div class="container">
    <div class="row blog-cust mt-5 mb-5 pb-5 ml-0 mr-0 pl-0 pr-0">
        <div class="col-md-8 offset-md-2">
            {% for post in post_list %}
            <h2 class="post-title">{{ post.title }}
              <span class="card-text text-muted h6 alert alert-primary">Posted by <b>{{ post.author }}</b> on {{ post.created_on|date:"M d, Y" }} </span> </h2>
              
            <div class="post-meta">                   
                <p class="card-text">{{post.content|slice:":100" }}</p>
                <a href="{% url 'blog:post_detail' slug=post.slug %}" class="btn btn-outline-info">Read More &rarr;</a>
                <hr/>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}