{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block page_title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head_js %} {% endblock head_js %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="nav-logo fas fa-spider"> Bugs & Features </i> <i class="nav-logo fas fa-tools"></i></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'index' %}"><i class="fas fa-home"></i> Home |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'features:features_list' %}"><i class="fas fa-tools"></i> Features |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'bugs:bugs_list' %}"><i class="fas fa-bug"></i> Bugs |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'blog:blog' %}"><i class="fas fa-blog"></i> Blog |</a>
                    </li>
                    {% if user.is_authenticated %}
                    {% if product_count > 0 %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'cart:view_cart' %}"><i class="fas fa-shopping-cart"></i> Cart <span class="badge badge-light">{{ product_count }}</span> |</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'cart:view_cart' %}"><i class="fas fa-shopping-cart"></i> Cart |</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'logout' %}"><i class="fas fa-power-off"></i> Logout |</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold nav-font" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In |</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    <!-- Footer -->
    <footer class="page-footer font-small darken-3 navbar navbar-fixed-bottom bg-secondary mt-5">
        <div class="container border-bottom border-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 offset-md-10 py-2">
                    <div class="mb-2">
                        <a class="fa-lg white-text mr-md-5 mr-3 fa-1x col-font" href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
                        <a class="fa-lg white-text mr-md-5 mr-3 fa-1x col-font" href="{% url 'features:features_list' %}"><i class="fas fa-tools"></i> Features</a>
                        <a class="fa-lg white-text mr-md-5 mr-3 fa-1x col-font" href="{% url 'bugs:bugs_list' %}"><i class="fas fa-bug"></i> Bugs</a>
                        <a class="fa-lg white-text mr-md-5 mr-3 fa-1x col-font" href="{% url 'blog:blog' %}"><i class="fas fa-blog"></i> Blog</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 offset-md-8">
                    <div class="footer-copyright text-center py-3">
                        <small class="col-font" >© 2020 Copyright: Marius G. Dumitru | Final project for <a class="col-font" href="https://codeinstitute.net/">Code Institute</a></small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
</body>

</html>