{% extends "base.html" %}
{% block page_title %} HOME {% endblock %} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            
        </div>

        <div class="row-md4 float-right">
            <div class="card my-4">
                <h5 class="card-header">BLOG</h5>
                <div class="card-body">
                    {% for post in post %}
                    <h6 class="post-title">{{ post.title }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}