{% extends "base.html" %}
{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row blog-cust mt-5 p-3">
		<div class="col-md-8">
			<form method="post" class="accountform">
			    <p>Please enter your email address to receive instructions for resetting your password.</p>
			    <br>
			    <div style="display:none">
			        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			    </div>
			     {{ form.email.errors }}
			    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" class="btn btn-secondary" value="Reset password" /></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}